<% if current_user %>
  <h1><%= "#{current_user.name}'s map" %></h1>
  <% if @locations.empty? %>
    <p>Add locations to the map using the Manage section.</p>
  <% end %>
  <br>
  <div id="map" style="height: 500px; width: 600px"></div>

  <% content_for :custom_js do %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet'/>
    <%= javascript_import_module_tag "custom/main" %>
  <% end %>

<% else %>
  <h3>Get a personal map of locations you've visited. </h3>
  <br/>
  <nav>
    <%= form_with(model: @user) do |f|  %>
    <%= f.label :email  %>
    <%= f.email_field :email %>
    <%= f.submit "Sign in" %>
    <% end %>
  </nav>
<% end %>

